.container {
    display: flex;
    padding: 6px 0;
    padding-left: 40px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #C7C5C5;

}

.giveBottomLine {
    border-bottom: 1px solid #C7C5C5;
}

.title, .content {
    font-size: 22px;
}

.options {
    display: flex;
    gap: 15px;
}

.delete {
    cursor: pointer;
}

.edit {
    cursor: pointer;
}


