.container {
    display: flex;
    flex-direction: column;
    color: #1E1E1E;
    width: 725px;

    
    

}

.titleBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 23px;
    border-top: 1px solid #C7C5C5;
}

.headerText {
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;

}

.dataItems {
    display: flex;
    flex-direction: column;
}

.addButton {
    outline: none;
    border: none;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #1A72F4;
    border-radius: 7px;
    color: white;
    font-size: 25px;
    line-height: 30px;
    padding: 7px 22px;
    cursor: pointer;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.prevButton, .nextButton {
    padding: 15px;
    display: flex;
    gap: 15px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}

.prevButton {
    border: 1px solid #1A72F4;
}

.nextButton {
    background-color: #1A72F4;
    color: white;
}

.navIndexes {
    display: flex;
    gap: 10px;
    font-size: 24px;
    line-height: 30px;

}

.navIndex {
    cursor: pointer;
}

.addItem {
    padding: 0;
    margin: 0;
    background-color: hsl(0, 2%, 91%);
}

.addItemHone {
    background-color: hsl(0, 0%, 76%);
    padding: 20px;
    margin: 0;
}